torch==2.5.1
transformers==4.47.0
diffusers==0.31.0
einops==0.8.0
decord
gpustat
sentencepiece
ipdb
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
onnx==1.17.0
onnxsim
omegaconf
torchdiffeq
segment_anything
lightning==2.4.0
wandb
flash-attn
deepspeed==0.15.3
accelerate==0.23.0
timm==1.0.12
huggingface-hub==0.24.0
onnxruntime==1.20.1
dill
pandas
pyarrow==11.0.0
av==12.0.0
moviepy
tensorflow==2.16.1
decord
jsonlines